<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>MainViewController</string>
		<key>Title</key>
		<string>玖妈妈</string>
		<key>Image</key>
		<string>home</string>
		<key>SelectImage</key>
		<string>home1</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ClassifyViewController</string>
		<key>Title</key>
		<string>分类</string>
		<key>Image</key>
		<string>分类</string>
		<key>SelectImage</key>
		<string>分类1</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>MethodBagViewController</string>
		<key>Title</key>
		<string>购物车</string>
		<key>Image</key>
		<string>-购物车</string>
		<key>SelectImage</key>
		<string>-购物车1</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>PersonalViewController</string>
		<key>Title</key>
		<string>我的</string>
		<key>Image</key>
		<string>我的</string>
		<key>SelectImage</key>
		<string>我的1</string>
	</dict>
</array>
</plist>
